<%- include partials/header %>
<%- include partials/navbar %>

<div class="container">
  <div class="col">
    <div class="row">
      <img class="profilePic" src="https://pbs.twimg.com/media/B0-RmE9CYAA1O71.jpg" alt="User Profile Picture"/>
      <div class="col">
        <h1><%=user.name%></h1>
        <br>
        <h2>Email: <%=user.email%></h2>
        <h2>Join Date: <%=user.join_date%></h2>
        <br></br>
        <div>
          <div>
            <h1>Reviews</h1>
            <% reviews.forEach((review) => { %>
              <div>
                <div class="titleContainer">
                  <h5><a href="/albums/<%= review.album_id %>"><%= review.title %></a></h5>
                  <span><%= review.date_created %></span>
                  <div class="pull-right">
                    <a href=`/reviews/${review.id}/delete` class="fa fa-trash" data-method="delete" data-token="{{csrf_token()}}" data-confirm="Are you sure?"></a>
                  </div>
                </div>
                <div class="description">
                  <span><%= review.description %></span>
                </div>
              </div>
              <br></br>
            <% }) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<% include partials/footer %>
